{
  "Parameters": {
    "VPCStackName": "net-main",
    "__comment__": "Ubuntu Server 20.04 LTS (ARM)",
    "ImageID": "ami-0ae8c80279572fa66",
    "InstanceType": "t4g.nano",
    "KeyName": "my-key",
    "IAMInstanceProfile": "ec2-ssm"
  }
}
