{
  "Parameters": {
    "VPCCIDR": "10.1.0.0/16",
    "SubnetPublicACIDR": "10.1.0.0/26",
    "SubnetPrivateACIDR": "10.1.0.64/26",
    "__comment__": "Ubuntu Server 20.04 LTS (ARM)",
    "EC2NATImageID": "ami-0ae8c80279572fa66",
    "EC2NATInstanceType": "t4g.nano",
    "EC2NATKeyName": "my-key"
  }
}
